<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--视图解析 -->
	<!--1、BeanNameViewResolver视图解析器 根据controller类的方法返回的String
	 类型的viewName  作为bean的name从spring中获取 View对象调用其的render()方法 -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
	</bean>
	<bean id="jstlView" class="org.springframework.web.servlet.view.JstlView">
		<property name="url"  value="/jspHello"></property>
	</bean>


	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" >

	</bean>


	<!--配置jsp相关的视图解析器-->
	<!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
	<!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
	<!--<property name="prefix" value="/WEB-INF/jsp/" />-->
	<!--<property name="suffix" value=".jsp" />-->
	<!--</bean>-->

</beans>